**/volumes/
**/*pgdata*/

bin/
obj/

node_modules/

.vscode/
.idea/

.DS_Store
Thumbs.db

.env
.claude

# Visual Studio
.vs/
**/.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

**/appsettings.Development.json